name: Publish new release

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python 3.13
        uses: actions/setup-python@v6

      - name: Extract version from release
        run: echo "VERSION=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Update pyproject.toml version
        continue-on-error: true
        run: |
          sed -i "/^\[project\]/,/^$/ {s/^version = .*/version = \"${VERSION#v}\"/}" pyproject.toml
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add pyproject.toml
          git commit -m "Update pyproject.toml version to ${VERSION#v}"
          git push origin HEAD:master

      - name: Build Package
        run: |
          rm -rf dist/
          python -m build
          twine upload dist/*

      - name: Publish package to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine upload dist/*
